@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to top,#49a09d,#5f2c82);
    }


    section#login {
        width: 80vw;
        height: 280px;

    }

    div#imagem{
        height: 100%;
        width: 30%;
        float: left;
    }
    div#formulario{
        float: right;
        width: 70%;
        font-size: 1em;
    }

    div.campo > input {
        background-color: #94cfcd;
        font-size: 1em;
        width: calc(100% - 44px);
        height: 100%;
        transform:translateY(-42px);
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        margin-left: 44px;
       
    }

    div.campo > i {
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }
}

@media screen and (min-width:992px) {
    body{
        background-image:linear-gradient(to top, #49a09d,#5f2c82);
    }
    section#login{
        width: 80vw;
        height: 350px;
    }

    div#imagem{
        height: 100%;
        width: 50%;
        float: right;
    }
    div#formulario{
        float: left;
        width: 50%;
        font-size: 1em;
    }

    div.campo > input {
        background-color: #94cfcd;
        font-size: 1em;
        width: calc(100% - 44px);
        height: 100%;
        transform:translateY(-42px);
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        margin-left: 44px;
       
    }

    div.campo > i {
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }
}